
@{
    Layout = "~/Views/Shared/_LayoutClienteLogeado.cshtml";
}
<div><br /></div>

<div class="carrusel" style="padding-top: 10%; ">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <center>
                    <img src="~/Content/img/confeccion.jpg" style="width:70%; height:450px; border-radius: 30px; border: 2px solid black " alt="...">
                </center>
                <div class="carousel-caption d-none d-md-block">
                    <h5>CONFECCIONES</h5>
                    <p>Gran variedad de estilos en nuestras confecciones</p>
                </div>
            </div>
            <div class="carousel-item">
                <center>
                    <img src="~/Content/img/productos.jpg" style="width:70%; height:450px; border-radius: 30px; border: 2px solid black " alt="...">
                </center>
                <div class="carousel-caption d-none d-md-block">
                    <h5>PRODUCTOS</h5>
                    <p>Contamos con una gran variedad de productos para usted</p>
                </div>
            </div>
            <div class="carousel-item">
                <center>
                    <img src="~/Content/img/diseno.jpg" style="width:70%; height:450px; border-radius: 30px; border: 2px solid black " alt="...">
                </center>
                <div class="carousel-caption d-none d-md-block">
                    <h5>NUESTRAS PRENDAS</h5>
                    <p>Tenemos nuestras propies prendas de vestir con diversos estilos</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span style="background-color:rgb(55 65 81); width: 80px; height:80px; border-radius: 20px" class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span style="background-color:rgb(55 65 81); width: 80px; height:80px; border-radius: 20px" class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<center style="color: white">
    <div class="row">
        <div class="col-md-4">
            <h2>Crea</h2>
            <p>
                Gracias a la gran variedad de productos que le ofrecemos,
                usted podrá realizar diversos trabajos, ya sea para sus arregos
                de sus prendas o su propia confección.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Vive</h2>
            <p>
                Podrás explorar un mundo de diversos materiales y colores para tí,
                integrando la mejor calidad en nuestros productos .
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Confecciona</h2>
            <p>
                En nuestra oficina podemos confeccionar la prenda que gustes,
                sin que tengas que moverte de tu hogar.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</center>
